* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #fff4fb 50%,
        #ffd9f3 100%
    );
}

.login-container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
}

.login-card {
    background: rgba(255,255,255,0.85);

    backdrop-filter: blur(12px);

    border-radius: 30px;

    padding: 40px;

    box-shadow:
        0 20px 60px rgba(214,51,180,0.08),
        0 5px 20px rgba(0,0,0,0.05);

    text-align: center;
}

.logo {
    width: 90px;
    margin-bottom: 15px;
}

.login-card h1 {
    color: #111;
    margin-bottom: 10px;
}

.login-card h1 span {
    color: #d633b4;
}

.login-card p {
    color: #666;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.input-group input {
    width: 100%;

    padding: 15px;

    border: 1px solid #f1d8eb;

    border-radius: 15px;

    font-size: 15px;

    outline: none;

    transition: .3s;
}

.input-group input:focus {
    border-color: #d633b4;

    box-shadow:
        0 0 0 4px rgba(214,51,180,0.08);
}

.btn-login {
    width: 100%;

    border: none;

    padding: 15px;

    border-radius: 15px;

    font-size: 16px;
    font-weight: 700;

    color: white;

    cursor: pointer;

    background: linear-gradient(
        135deg,
        #ff4fd8,
        #8b5cf6
    );

    transition: .3s;
}

.btn-login:hover {
    transform: translateY(-2px);
}

.demo {
    margin-top: 25px;

    background: #fff4fb;

    padding: 15px;

    border-radius: 15px;

    color: #666;

    font-size: 14px;
}